@model Teachbook.Web.Models.ViewModels.HomeViewModel
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-10 px-4 pt-5 pb-2">
    <div class="row align-items-center g-5 pt-5 pb-2">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                TeachBook - Master Coding, One Article at a Time
            </h1>
            <p class="lead">
                TeachBook is your hub for all things coding—HTML, CSS, JavaScript, Angular, C#, ASP.NET, 
                and more. Explore tutorials, tips, and the latest dev articles to sharpen your skills and 
                stay ahead in the developer world! Join the TeachBook community and start your journey to 
                becoming a better developer today.
            </p>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-end">
            <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=600"
                 alt="TeachBook - Dev blogs"
                 class="d-block img-fluid rounded-circle" width="450" />
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-3 fs-6 py-2 px-3 fw-normal">
                        @tag.Name
                    </span>
                }
            }
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blogPost in Model.BlogPosts)
            {
                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="@blogPost.FeaturedImageUrl" class="card-img-top" alt="@blogPost.Heading" />

                        <div class="card-body d-flex flex-column border-start border-end border-bottom rounded-bottom">
                            <h5 class="card-title">@blogPost.Heading</h5>

                            <p class="small text-muted mb-2">
                                Author: @blogPost.Author
                                <br />
                                Published: @blogPost.PublishedDate.ToShortDateString()
                            </p>

                            <div class="mb-2">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1 fw-normal">@tag.Name</span>
                                }
                            </div>

                            <p class="card-text mb-3 flex-grow-1">@blogPost.ShortDescription</p>

                            
                                <div class="mt-auto text-start">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <a class="btn btn-dark"
                                        asp-area=""
                                        asp-controller="Blogs"
                                        asp-action="Index"
                                        asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark"
                                           asp-area=""
                                           asp-controller="Account"
                                           asp-action="Login"
                                           asp-route-returnUrl="@Url.Action("Index", "Blogs", new { urlHandle = blogPost.UrlHandle })">
                                            Read More
                                        </a>
                                    }
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>





